<div class="container row transaction">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title trans-title">New Transaction</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <button [routerLink]="['new-transaction']" routerLinkActive="router-link-active"  class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title trans-title">View Submitted Transaction</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <button [routerLink]="['view-transaction']" routerLinkActive="router-link-active"  class="btn btn-primary">View</button>
        </div>
      </div>
    </div>
  </div>