<div class="mat-elevation-z8 table-cover">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="transferAmount">
        <th mat-header-cell *matHeaderCellDef> Transfer Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.transferAmount}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="transferCurrency">
        <th mat-header-cell *matHeaderCellDef> Transfer Currency </th>
        <td mat-cell *matCellDef="let element"> {{element.transferCurrency}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef> Reference </th>
        <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  